apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-service-v2
  labels:
    app: payments-service-v2
spec:
  selector:
    matchLabels:
      app: payments-service-v2
  replicas: 1
  template:
    metadata:
      labels:
        app: payments-service-v2
    spec:
      volumes:
      - name: kongapay-config
        configMap:
          name: kongapay-config
      containers:
      - image: kongapay-registry.igbimo.com/kongapay-stage/payments-service-v2-staging:latest
        name: payments-service-v2
        ports:
        - containerPort: 80
          protocol: TCP
          name: http
        volumeMounts:
        - name: kongapay-config
          mountPath: /creds/kongapay-config.json
          subPath: kongapay-config.json
        env:
        - name: APPLICATION_ENV
          value: staging
        - name: NODE_ENV
          value: staging
        - name: PORT
          value: "80"
        - name: NODE_PATH
          value: .

        #DB
        - name: DATABASE_HOST
          value: "vm-konga-pay-shared-mysql-01.konga-pay.internal"
        - name: DATABASE_PASS
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: staging-payservice-db-password
        - name: DATABASE_PORT
          value: "3306"
        - name: DATABASE_NAME
          value: staging_payment_service
        - name: DATABASE_USER
          value: kppayservice
        - name: OLD_DATABASE_HOST
          value: "vm-konga-pay-shared-mysql-01.konga-pay.internal"
        - name: OLD_DATABASE_PASS
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: pgtx-db-password
        - name: OLD_DATABASE_PORT
          value: "3306"
        - name: OLD_DATABASE_NAME
          value: PG_tx
        - name: OLD_DATABASE_USER
          value: pgtx
        - name: DATABASE_POOL_MIN
          value: "1"
        - name: DATABASE_POOL_MAX
          value: "4"

        #JWT
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: kpay-jwt-secret

        #API
        - name: KPAYAPI_URL
          value: http://kpayapi
        - name: CARD_SERVICE_BASE_URL
          value: http://paymentgatewaytx
        - name: CARD_SERVICE_OTP_PATH
          value: /v1/cards/validate
        - name: CARD_SERVICE_PAY_PATH
          value: /v1/cards/pay
        - name: CARD_SERVICE_REFUND_PATH
          value: /v1/cards/refund
        - name: CARD_SERVICE_CYBS_ENROLL_PATH
          value: /v1/cards/cybersource/enroll
        - name: CARD_SERVICE_CYBS_VALIDATE_PATH
          value: /v1/cards/cybersource/validate
        - name: CARD_CARDINAL_PATH
          value: /v1/cards/cardinal
        - name: CARD_CHANNEL_IDENTIFIER
          value: card
        - name: TRANSFER_CHANNEL_IDENTIFIER
          value: transfer

        - name: KONGAPAY_PAY_PATH
          value: /v5/web/payment
        - name: KONGAPAY_MERCHANT_KEY
          value: live_pr_2cf0157632a702a5a0e22fc22c836ffa
        - name: KONGAPAY_TEST_MERCHANT_KEY
          value: test_pr_015722cfa70263a5a0e22fc22c836ffa
        - name: KONGAPAY_OTP_PATH
          value: /v5/web/request/token
        - name: KONGAPAY_REQUERY_PATH
          value: /v5/payment
        - name: CARD_REQUERY_PATH
          value: /v1/cards/requery
        - name: CARD_CARDINAL_PATH
          value: /v1/cards/cardinal
        - name: USERS_CARD_PATH
          value: /v1/cards/user/cards
        - name: FETCH_LOAN_TENURE
          value: /v5/loan/tenure
        - name: LOAN_PAY
          value: /v5/loan/pay
        - name: LOAN_REQUERY
          value: /v5/loan
        - name: UPDATE_LOAN_DELIVERY
          value: /v5/loan/deliveries
        - name: KONGAPAY_PAY_VIA_TOKEN_PATH
          value: /v5/recur/pay
        - name: KONGAPAY_GROUP_WALLET_BALANCE_PATH
          value: /v5/group/wallet/balance
        - name: KONGAPAY_GROUP_TRANSFER_PATH
          value: /v5/group/transfer
        - name: KONGAPAY_GROUP_REVERSAL_PATH
          value: /v5/group/transaction/reversal

        - name: MMO_SERVICE_BASE_URL
          value: http://mmo-service
        - name: PAY_ATTITUDE_PAY_WITH_PHONE_PATH
          value: /v1/pay/payattitude/phone
        - name: SDK_BASE_URL
          value: https://staging-kongapay-pg.kongapay.com/v2/initiatePage
        - name: PUSH_SERVICE_BASE_URL
          value: http://ussd-service
        - name: USSD_INITIATE_PATH
          value: /v1/ussd/initiate
        - name: MANDATE_SERVICE_BASE_URL
          value: http://mandate-service
        - name: CHARGE_ACCOUNT_PATH
          value: /payments/accounts
        - name: RAVE_BANKS
          value: /banks
        - name: CARD_ENROL_PATH
          value: /v1/cards/enrol
        - name: VALIDATE_OTP_PATH
          value: /payments/accounts/validations
        - name: QR_INITIATE_PATH
          value: /v1/qr/initiate
        - name: VERIFY_CHARGE_PATH
          value: /transactions/verifications
        - name: REFUND_CHARGE_PATH
          value: /transactions/refund
        - name: PUSH_BANKS_PATH
          value: /v1/banks
        - name: PUSH_REQUERY_PATH
          value: /v1/requery/merchant
        - name: MANDATE_REQUERY_CHARGE_PATH
          value: /transactions/requery
        - name: CARD_SERVICE_PAY_VIA_TOKEN_PATH
          value: /v1/cards/pay/token
        - name: CARD_SERVICE_PROCESS_3D_SECURE
          value: /v1/cards/process/acs
        - name: CARD_SERVICE_VERIFY_RAVE_3DS
          value: /v1/cards/rave/verify
        - name: RECURRING_SERVICE_BASE_URL
          value: http://35.190.49.190
        - name: RECURRING_SERVICE_PAY_SCHEDULE
          value: /v1/recur/pay/schedule
        - name: MONNIFY_INITIATE_PATH
          value: /v1/monnify/transaction/initiate
        - name: MONNIFY_REQUERY_PATH
          value: /v1/monnify/transaction/status
        - name: MONNIFY_COMPLETE_PATH
          value: /v1/monnify/transaction/complete
        - name: CARD_SERVICE_ACCESS_ENROLL
          value: /v1/cards/access/enrol
        - name: CARD_SERVICE_VERIFY_ACCESS_3DS
          value: /v1/cards/access/verify


        #AUTH
        - name: KONGAPAY_AUTH_URL
          value: http://kpayoauth/
        - name: OAUTH_REQUEST_TIMEOUT
          value: "150000"
        - name: OAUTH_RETRY_COUNT
          value: "3"
        - name: OAUTH_RETRY_DELAY
          value: "100"
        - name: KONGAPAY_CLIENT_ID
          value: kpay_web
        - name: KONGAPAY_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: kongapay-client-secret
        - name: KONGAPAY_REFUND_PATH
          value: /v5/web/refund

        #ALIPAY
        - name: ALIPAY_PATH
          value: /v1/alipay
        - name: ALIPAY_COMPLETION_PATH
          value: /v1/alipay/complete

        #REDIS
        - name: REDIS_PORT
          value: "6379"
        - name: REDIS_HOST
          value: "kredis-svc"
        - name: REDIS_DATABASE
          value: "3"

        #Others
        - name: TERMINATING_ERROR_CODES
          value: "122,102,103,104,129,130,E0114,E0021,E0140,E0282,121,E008,E007,E009,E010,E004,E002,E001,E0036,TE103,TE008,E0435"
        - name: MANDATE_HOOK
          value: /payment/notification

        # Hermes
        - name: HERMES_BASE_URL
          value: https://hermes.igbimo.com/v2/notifications

        - name: KONGA_AUTH_URL
          value: https://staging-auth.igbimo.com/v2
        - name: KONGA_AUTH_AUTHORIZE_PATH
          value: /authorize
        - name: KONGA_AUTH_TOKEN_PATH
          value: /token
        - name: KONGA_CLIENT_ID
          value: kpay_web
        - name: KONGA_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: konga-client-secret
        #Loggly
        - name: LOGGLY_TAG
          value: test_payment_service

        #Payment request
        - name: PAYMENT_REQUEST_BASE_URL
          value: https://staging-kongapay-pg.kongapay.com/pay
        - name: PAYMENT_REQUEST_DEFAULT_CALLBACK
          value: https://staging.kongapay.com

        #Access Quickbucks
        - name: ACCESS_QUICKBUCKS_BASE_URL
          value: http://quickbucks-merchant-pilot.accessbankplc.com
        - name: ACCESS_QUICKBUCKS_ELIGIBILITY_PATH
          value: /api/payment/eligibility
        - name: ACCESS_QUICKBUCKS_INITIATE_PATH
          value: /api/payment/initialize
        - name: ACCESS_QUICKBUCKS_VERIFICATION_PATH
          value: /api/payment/verify
        - name: ACCESS_QUICKBUCKS_PUBLIC_KEY
          value: PUBK-774c96b2c09cb597e523ab0e55b968cc
        - name: ACCESS_QUICKBUCKS_SECRET_KEY
          value: SECK-7d61bb1e1f87cf9c33ad0051f70f16c4

          # Simbrella
        - name: SIMBRELLA_BASE_URL
          value: https://api.eligify.dev/gw/api/v1/purchase
        - name: SIMBRELLA_API_KEY
          value: eLPWwjv+cqXbgasUWgOD78jOAef7ioMCowzADWvC3HLsUo8EzbwQVN+tUWqXRsluG+Q=
        - name: SIMBRELLA_KPAY_MERCHANT_ID
          value: sellerhq100223344
        - name: SIMBRELLA_CALLBACK_URL
          value: https://staging-kpaygateway.kongapay.com/v1/payment/simbrella-callback

          # Fidelity PayGatePlus
        - name: PAYGATEPLUS_CREATE_ACCOUNT_PATH
          value: /v1/paygateplus/account-create
        - name: PAYGATEPLUS_TRANSACTION_QUERY_PATH
          value: /v1/paygateplus/query-transaction

        - name: PAY_WITH_TRANSFER_INIT_PATH
          value: /v1/transfer

        - name: RAVE_HASH_KEY
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: rave-hash-key
              optional: true

          # Polaris Finance
        - name: POLARIS_FINANCE_BASE_URL
          value: https://digital-staging.polarisbanklimited.com
        - name: POLARIS_FINANCE_TOKEN_PATH
          value: /DigitalIdentity/connect/token
        - name: POLARIS_FINANCE_ELIGIBILITY_PATH
          value: /Polaris.Digital.lending.service.Api/api/External/CheckEligibilityPhoneNumber
        - name: POLARIS_FINANCE_OTP_VALIDATION_PATH
          value: /Polaris.Digital.lending.service.Api/api/External/CheckEligibility
        - name: POLARIS_FINANCE_RESEND_OTP_PATH
          value: /Polaris.Digital.lending.service.Api/api/External/ResendOtp
        - name: POLARIS_FINANCE_VERIFICATION_PATH
          value: /Polaris.Digital.lending.service.Api/api/External/QueryLoanRequest
        - name: POLARIS_FINANCE_CLIENT_ID
          value: Konga
        - name: POLARIS_FINANCE_CLIENT_SECRET
          value: swagger-secret
        - name: POLARIS_FINANCE_GRANT_TYPE
          value: client_credentials
        - name: POLARIS_FINANCE_PAYMENT_URL
          value: https://digital-staging.polarisbanklimited.com/AssetFinance

          #Eagle Encryption
        - name: EAGLE_ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: eagle-encryption-key
              optional: true
        - name: EAGLE_ENCRYPTION_IV
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: eagle-encryption-iv
              optional: true
        - name: EAGLE_ENCRYPTION_METHOD
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: eagle-encryption-method
              optional: true

        # Skaleet Service Domain API
        - name: SKALEET_SDOM_BASE_URL
          value: http://eagle/request/sdom
        - name: SKALEET_SDOM_CLIENT_ID
          value: 4c76a08a7792c04ca393d8509fb23438
        - name: SKALEET_SDOM_CLIENT_SECRET
          value: a86ac90bdc83461b21066c6848b161283da2bdc5c346a85ed3dba61486bf3a7c
        - name: SKALEET_SDOM_CLIENT_SCOPES
          value: "posting sda_accounts_view identity_view"

         # Skaleet Company API
        - name: SKALEET_COMPANY_BASE_URL
          value: http://eagle/request/company
        - name: SKALEET_COMPANY_CLIENT_ID
          value: bbcafebba4ccf16d60eec3fbf5392e36
        - name: SKALEET_COMPANY_CLIENT_SECRET
          value: 9e64685aa6a095748a245702b31924a75a0ed78859e269263185a40ae1bd6262
        - name: SKALEET_COMPANY_CLIENT_SCOPES
          value: "sda_accounts_view identity_view"

        # Sphinx API
        - name: SPHINX_BASE_URL
          value: http://eagle/request/sphinx

          # Momo API
        - name: MOMO_BASE_URL
          value: https://api.pay.hwipg.com/payment/v1/charge
        - name: MOMO_SIGNATURE_TYPE
          value: SHA256withRSA
        - name: MOMO_CHANNEL
          value: nigeria_momo_collection
        - name: MOMO_NOTIFICATION_URL
          value: https://staging-eagle.kongapay.com/request/webhook/momo
        - name: MOMO_APP_ID
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: momo-app-id
              optional: true
        - name: MOMO_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: kongapay-secret
              key: momo-private-key
              optional: true

        # PAYSTACK API
        - name: PAYSTACK_BASE_URL
          value: https://api.paystack.co
        - name: PAYSTACK_PUBLIC_KEY
          value: pk_test_f75c655fcb249c8be0c044e896345999c498c988
        - name: PAYSTACK_SECRET_KEY
          value: sk_test_eb18b1fe1f6813fed8a819172fef92e2ae34284e
          
        - name: APM_SERVICE_NAME
          value: payments_service_v2
        - name: APM_SERVER_URL
          value: https://staging-apm.konga.com
        - name: APM_SERVICE_ENVIRONMENT
          value: staging
        - name: ELASTIC_APM_ACTIVE
          value: "true"
        - name: ELASTIC_APM_LOG_LEVEL
          value: info

        # EAGLE API BASE
        - name: EAGLE_BASE_URL
          value: http://eagle/request
          
        # STANBIC API
        - name: STANBICIBTC_BASE_URL
          value: https://test-stanbicibtc.mtf.gateway.mastercard.com
        - name: STANBICIBTC_MERCHANT_ID
          value: TESTSIBTC277T
        - name: STANBICIBTC_PASSWORD
          value: 2b41425232f4128c21e2f537fd976fcb
        - name: STANBIC_CALLBACK_URL
          value: https://staging-kongapay-pg.kongapay.com/v2/stanbic/callback

        # KNIP
        - name: KNIP_BASE_URL
          value: https://staging-eagle.kongapay.com/request/knip
        - name: KNIP_CALLBACK_URL
          value: https://staging-ps.kongapay.com/v2/hook/knip
          
        # TRANSFER SERVICE
        - name: DEFAULT_TRANSFER_PROVIDER
          value: knip

        # Klump
        - name: KLUMP_SECRET_KEY
          value: klp_sk_test_f6b53ea144df4b3e87c091c62f7ae7317d8e6b76d9fd4439a7c3bda1fcdd397c
        - name: KLUMP_PUBLIC_KEY
          value: klp_pk_test_24350748b2c241bfa50b9ad5291559c67d8e6b76d9fd4439a7c3bda1fcdd397c

