apiVersion: batch/v1
kind: CronJob
metadata:
  name: payment-service-merchant-settlements-cronjob
spec:
  suspend: false
  schedule: "0 1 * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          volumes:
          - name: kongapay-config
            configMap:
              name: kongapay-config
          imagePullSecrets:
          - name: default-secret
          containers:
          - name: payments-service
            image: swr.af-south-1.myhuaweicloud.com/kongapay/payments-service:latest
            args:
            - /usr/local/bin/node
            - /usr/src/app/cron/merchant_settlements.js
            - '1'
            - '1'
            volumeMounts:
            - name: kongapay-config
              mountPath: /creds/kongapay-config.json
              subPath: kongapay-config.json
            env:
            - name: APPLICATION_ENV
              value: production
            - name: NODE_ENV
              value: production
            - name: PORT
              value: "80"
            - name: NODE_PATH
              value: .

            #DB
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: kongapay-secret
                  key: db-host
            - name: DATABASE_PASS
              valueFrom:
                secretKeyRef:
                  name: kongapay-secret
                  key: payservice-db-password
            - name: DATABASE_PORT
              value: "3306"
            - name: DATABASE_NAME
              value: prod_payment_service
            - name: DATABASE_USER
              value: prod_payservice
            - name: DATABASE_POOL_MIN
              value: "1"
            - name: DATABASE_POOL_MAX
              value: "4"

              #REDIS
            - name: REDIS_PORT
              value: "6379"
            - name: REDIS_HOST
              value: "kredis-svc.default.svc.cluster.local"
            - name: REDIS_DATABASE
              value: "3"

            #Eagle Encryption
            - name: EAGLE_ENCRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: kongapay-secret
                  key: eagle-encryption-key
                  optional: true
            - name: EAGLE_ENCRYPTION_IV
              valueFrom:
                secretKeyRef:
                  name: kongapay-secret
                  key: eagle-encryption-iv
                  optional: true
            - name: EAGLE_ENCRYPTION_METHOD
              valueFrom:
                secretKeyRef:
                  name: kongapay-secret
                  key: eagle-encryption-method
                  optional: true

            # EAGLE API BASE
            - name: EAGLE_BASE_URL
              value: http://eagle/request

            # Skaleet Service Domain API
            - name: SKALEET_SDOM_BASE_URL
              value: http://eagle/request/sdom
            - name: SKALEET_SDOM_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: kongapay-secret
                  key: payment_gateway_service_domain_client_id
                  optional: true
            - name: SKALEET_SDOM_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: kongapay-secret
                  key: payment_gateway_service_domain_client_secret
                  optional: true
            - name: SKALEET_SDOM_CLIENT_SCOPES
              value: "posting sda_accounts_view identity_view"

              # Skaleet Company API
            - name: SKALEET_COMPANY_BASE_URL
              value: http://eagle/request/company
            - name: SKALEET_COMPANY_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: kongapay-secret
                  key: payment_gateway_company_client_id
                  optional: true
            - name: SKALEET_COMPANY_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: kongapay-secret
                  key: payment_gateway_company_client_secret
                  optional: true
            - name: SKALEET_COMPANY_CLIENT_SCOPES
              value: "sda_accounts_view identity_view"

              # Sphinx API
            - name: SPHINX_BASE_URL
              value: https://eagle.kongapay.com/request/sphinx
